.layoutSignInUp {
    border: 2px solid;
    border-color: white;
    margin: auto;
    text-align: center;
    font-family: Arial;
    font-size: medium;
    width: 530px;
}
.layoutReservatie {
    border: 2px solid;
    border-color: white;
    margin: auto;
    text-align: center;
    font-family: Arial;
    font-size: medium;
    width: 530px;
}